<h1>Coffee Form</h1>
<h3>What size coffee would you like (small, med, or large)?</h3>

<%= form_tag "coffee" do %>
    <%= text_field_tag :search_string %>
    <%= submit_tag "Place Order" %>
  <% end %>


